@import 'bootstrap/dist/css/bootstrap';

.small-text{
    font-size: 14px;
}
.neg-row{
    margin: -50px !important;
    padding: 0;
}

.page-break { 
    display:block; clear:both; page-break-after:always; 
}