<div class="mt-4">
    <footer id="sticky-footer" class="py-4 bg-dark text-white mt-4">
        <div class="container text-center">
            <small> Taxpayer Register | </small>
            <small> Montserrat Customs & Revenue Service | Inland Revenue Department</small>
        </div>
    </footer>
</div>